{%extends "layout.html"%}
    {%block content%}
<div class="content-section">
        <h1>Cart content</h1>

    <!-- The empty table we'll use as the example -->
    <table>
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <!-- We'll attach the PeopleView to this element -->
      <tbody>
      </tbody>
    </table>
 </div>

 <div class="content-section" id="cart-container"></div>

<div class="content-section" id="cartdiv3"></div>
   

    
    {%endblock content%}


{%block javascript%}


    

	

{%endblock  javascript%}
