<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type ="text/css" href="{{url_for('static',filename = 'main.css')}}">

        {%if title%}
            <title>Flask Blog: {{title}}</title>
        {%else%}
            <title>Flask Blog</title>
        {%endif%}

  </head>

  <body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Flask Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{url_for('main.home')}}">Home</a>
          <a class="nav-item nav-link" href="{{url_for('main.about')}}">About</a>
          <a class="nav-item nav-link" href="{{url_for('webshop.webshop_home')}}">Webshop</a>
          {% if 'cart_id' in session %}
          <button type="button" class="btn btn-success btn-sm m-1" name="cart_button" data-toggle="modal" data-target="#cartModal">Cart#{{ session['cart_id'] }}</button>
          {% endif %}
        </div>

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          
          {% if current_user.is_admin %}
              <a class="nav-item nav-link" href="{{url_for('admin.home')}}">Admin</a>
          {% endif %}
          {% if current_user.is_authenticated %}

              <p class= "nav-item nav-link">Hello {{current_user.username}} </p>
              <img class="rounded-circle account-img" 
                   style="max-height: 30px; max-width: 30px "
                   src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">

              <a class="nav-item nav-link" href="{{url_for('posts.new_post')}}">New Post</a>
              <a class="nav-item nav-link" href="{{url_for('users.account')}}">Account</a>
              <a class="nav-item nav-link" href="{{url_for('users.logout')}}">Logout</a>
          {% else %}
              <a class="nav-item nav-link" href="{{url_for('users.login')}}">Login</a>
              <a class="nav-item nav-link" href="{{url_for('users.register')}}">Register</a>
          {% endif %}

        </div>
      </div>
    </div>
  </nav>
</header>



<main role="main" class="container">
<div class="row">
  <div class="col-md-8">
    {%with messages = get_flashed_messages(with_categories=true) %}
      {%if messages%}
        {%for category, message in messages%}
          <div class="alert alert-{{category}}">
            {{ message}}
          </div>

        {%endfor%}
      {%endif%}
    {%endwith%}

    {% block content %}{% endblock %}
  </div>
  <div class="col-md-4">
    <div class="content-section">
      <h3>Our Sidebar</h3>
      <p class='text-muted'>You can put any information here you'd like.
        <ul class="list-group">
          <li class="list-group-item list-group-item-light">
              <a href="{{url_for('klarnapay.checkout')}}">Klarna Pay</a>
          </li>
          <li class="list-group-item list-group-item-light">
              <a href="{{url_for('klarnakco.checkout_initiate')}}">Klarna Checkout</a>
          </li>
          <li class="list-group-item list-group-item-light">Calendars</li>
          <li class="list-group-item list-group-item-light">etc</li>
        </ul>
      </p>
    </div>
  </div>
</div>
</main>



<!-- Modal -->
          <div class="modal fade " id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" >My Cart: #{{ session['cart_id'] }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
        <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" >Quantity</th>
      <th scope="col">Product</th>
      <th scope="col">UnitPrice</th>
      <th scope="col">Total</th>

    </tr>
  </thead>
  <tbody id = "cart_table">
   

  </tbody>
</table>
      </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                  <form  action="#" method="POST">
                      <input class="btn btn-danger" type="submit" value="To Checkout">

                  </form>

                </div>
              </div>
            </div>
          </div>





<!-- Templates -->
    <script type="text/template" id="CartLine-template">
      <a href="#" class="increase_quantity">[+]</a>
      <span class="quantity"><%= quantity %></span>
      <a href="#" class="decrease_quantity">[-]</a>
      <span class="quantity_unit"><%= quantity_unit %>  </span>
    
      <span class="product_name"><%= product_name %>  kr: </span>
      <span class="unit_price"><%= unit_price %></span>

      
      
      <a href="#" class="remove_item">[x]</a>
    </script>

    <script type="text/template"  id = "line_template">
        <td>+
          <input type="text" name="quantity" class="form-input" id="quantity_input_<%= model.id %>" value="<%= model.quantity %>">
          - X
        </td>
        <td><%= model.product_name %></td>
        <td><%= model.unit_price %></td>
        <th scope="row" id="row_sum"><%= model.linetotal %></th>
    </script>


<!-- Optional JavaScript -->
    <script src="{{url_for('static',filename = 'js/backbone/jquery-3.3.1.min.js')}}"></script>
<!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<!-- Backbone install: JQuery and underscore first then Backbone. -->
    
    <script src="{{url_for('static',filename = 'js/backbone/underscore-min.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/backbone/backbone-min.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/backbone/backform.js')}}"></script>
    <script src="{{url_for('static',filename = 'js/backbone/collectionview.js')}}"></script>



    
    <script> var myCart = {{ session['cart_id'] }}</script>
<!--  <script src="{{url_for('static',filename = 'js/test.js')}}"></script>  -->
  <script src="{{url_for('static',filename = 'js/app/cart.js')}}"></script>
    {% block javascript %}{% endblock %}

  

  </body>
</html>
